/* Base Settings, Display, and Positioning */
html {
  position:         relative;
  min-height:       100%;
} body, header, footer {
  width:            100%;
} header, nav, main, footer, section {
  display:          inline-block;
} main {
  margin-bottom:    10em;
  padding:          1em;
} section {
  padding:          .5em;
  min-width:        15em;
  max-width:        25em;
  vertical-align:   middle;
} footer {
  position:         absolute;
  bottom:           0;
  left:             0;
  max-height:       10em;
} nav {
  padding:          1em;
} nav a {
  display:          inline-block;
  padding:          .25em;
  margin:           .25em;
} #social a {
  padding:          .5em;
} img {
  width:            80%;
  max-width:        20em;
}

/* Background and Colors */
body {
  background:       #FFFFFF;
  color:            #000000;
} header {
  border-bottom:    .05em solid #CCCCCC;
} footer {
  border-top:       .05em solid #CCCCCC;
} 
a {
  color:            inherit;
} nav a:hover {
  color:            #C41E3A;
} header nav a {
  border-left:     .15em solid #C41E3A;
} header nav a:hover {
  border-left:     .15em solid #000000;
} #social a {
  background:      #C41E3A;
  color:           #FFFFFF;
  border-radius:   .25em;
} #social a:hover {
  background:      #000000;
}

/* Font */
body {
  font-family:      'Questrial', sans-serif;
  text-align:       center;
  font-size:        calc(12px + 1vh);
} main {
  line-height:      1.5;
} p {
  padding:          .5em;
  text-align:       left;
} #title * {
  text-align:       center;
  padding:          .1em;
} h1, h2 {
  padding:          .25em;
  font-weight:      bold;
  text-align:       left;
} h1 {
  font-size:        1.5em;
} h2 {
  font-size:        1.25em;
} nav a {
  font-size:       .9em;
} footer a:hover, header a, #social a {
  text-decoration:    none;
}